.listing-card {
  text-decoration: none;
  color: black;

  border-radius: 12px;

  overflow: hidden;

  transition: 0.3s;

  border: 1px solid #ddd;
}

.listing-card:hover {
  transform: scale(1.02);
}

.listing-card img {
  width: 100%;
  height: 250px;

  object-fit: cover;
}

.listing-card__info {
  padding: 15px;
}

.listing-card__info h3 {
  margin-bottom: 10px;
}

.listing-card__info p {
  margin-bottom: 6px;

  color: gray;
}